.jumbotron{
    padding-top: 6rem;
    background: #9cb3d9;
}

#tugas{
    background-color: #9cb3d9;
}

#row{
    padding-top: 2rem;
}

#contact{
    background-color: #9cb3d9;
}

section{
    padding-top: 5rem;
}